./gnome-initial-setup-done
./dconf
./goa-1.0
./user-dirs.dirs
./user-dirs.locale
./ibus
./gtk-3.0
./abrt
./pulse
./.gsd-keyboard.settings-ported
./evolution
./nautilus
./GNOME-xdg-terminals.list
./xdg-terminals.list
./gtk-4.0
./discord
./Electron
./gh
./nvim
./github-copilot
./gnome-session
./calibre
